.socialFeed {
  background-color: rgb(68, 220, 83);
  padding-bottom: 80px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}




















