:root {
  --green1: #49fe7c;
  --green2: rgb(0, 114, 0);
  --green3: rgb(189, 251, 189);
  --color2: #cbcbcb;
  --color3: rgb(96, 96, 96);
  --color4: rgb(226, 226, 226);
}


.socialFeed {
  background-color: var(--color3);
  padding-bottom: 80px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.fitnessStats {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: var(--green3);
  border-radius: 5px;
  margin:5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.statItem {
  width: 25%; 
  padding: 5px;
  box-sizing: border-box;
  
}




















