.Spacing{
    width:100%;
    height: 10px;
    background-color:black;
}
.logo{
justify-content: center;
}
.logoImage{
    max-width: 750px;
    height: auto; 

    display: block;
    margin: 0 auto;
}
