.fitnessCategory{
    margin:5px;

}

.statsPage {

    
    background-color: var(--color3);
    border-width: 3px;
    border-color:black;
    justify-content: center;
    background-color: var(--green3);

  }
.fitnessInput{
    text-align:left;
    width: 25%;

    border: 2px;
    
}
  .submitFitnessStats {
    font-size: 30px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 60px; 
    width: 200px;
    border: none;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    border-radius: 5px; 
    text-align: center;
}
.submitFitnessStats:hover{
    color: seagreen; 
    transform-origin: center;
}
  
