.fitnessCategory{
    margin:5px;

}

.statsPage {

    
    height: 100vh; /* Optional: to make the container full height */
    background-color: lightcyan;
    border-width: 3px;
    border-color:black;
    justify-content: center;

  }

  .submitFitnessStats {
    font-size: 30px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 60px; 
    position:fixed;
    width: 200px;
    border: none;
    left: 75%;
    transform: translateX(-25%);
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    border-radius: 5px; 
    text-align: center;
}
.submitFitnessStats:hover{
    color: seagreen; 
    transform-origin: center;
}
  
 
