#search {
    display: flex;
    width: auto;
    justify-content: center;
    /*flex-direction: column;*/
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-result {
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
}

#user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre-wrap;
}

#caption {
    display: flex;
    justify-content: center;
}
.followersHeadContent{
    display:inline-flex;
}
.searchPage{
    position:absolute;
    border: none;
    left: 50%;
    transform: translateX(-50%);

}
.followerList{
    background-color: var(--green3);

    padding:20px;

}