#search {
    display: flex;
    width: auto;
    justify-content: center;
    /*flex-direction: column;*/
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-result {
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
}

#user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre-wrap;
}

#caption {
    display: flex;
    justify-content: center;
}