/* Overall container */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    font-family: Arial, sans-serif;
  }

  .top-cont {
    background-color: var(--color3);;
  }
  
  /* Title section */
  .h1{
    width: 100%;
  }
 

  /* Layout for sections */
  .profile-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows wrapping of items */
    width: 100%;
    max-width: 1200px;
  }
  .profile-public-status{
    margin:5px;
  }
  .public-button{
    background-color: var(--color2);
    margin:5px;
    padding:5px;
    border-radius: 5px;
  }


  .profile-info-section, .profile-update-image, .fitnessStats {
   background-color: var(--green3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%; 
    display: flex;
    flex-direction: column;
    min-height: 150px; 
  }
  
  /* Responsive adjustments */
  @media (max-width: 800px) {
    .profile-content {
      justify-content: center; 
    }
  
    .profile-info-section, .profile-update-image {
      flex-basis: 100%; 
      max-width: 100%; 
    }
  }
  
  /* Input and button styling */
  .input-group, .form-update {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .input-field {
    flex-grow: 1;
    padding: 8px;
    border: 2px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-update {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn-update:hover {
    background-color: #0056b3;
  }
  
  /* Image preview section adjustments */
  .image-preview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-preview img {
    max-width: 100%; /* Adjusts to container width */
    
    height: auto;

    

  }
  
  .input-file {
    margin-top: 10px;
    text-align: center;
  }
  
  /* General messages */
  .profile-message {
    color: #dc3545;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Post display section */
  .profilePost {
    width: 100%;
    max-width: 600px;
    align-items: center;
  }
  .profilePostPage{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;


    margin: 20px; 
}

  
  

  
  
